name: ci

on:
  workflow_dispatch: # Allow manual triggering
  push:
    paths-ignore:
      - '**/README.md'
    branches:
      # - 'main'
      - 'release-*'
      - 'FE-*'
      - '*-feature-*'
      - 'BF-*'
      - '*-bug-*'
      - 'PU-*'
      - 'DOC-*'
      - '*-documentation-*'
      - '*-hotfix-*'
    tags:
      - '*' # Push events to matching *, i.e. 1.0.0 v1.0, v20.15.10
  pull_request:
    paths-ignore:
      - '**/README.md'
    types: # https://docs.github.com/actions/using-workflows/events-that-trigger-workflows#pull_request
      - opened
      - reopened
      - closed
    # branches:
    #   - 'main'
    #   - 'release-*'
    #   - 'DOC-*'
    #   - 'hotfix-*'

permissions: # https://docs.github.com/actions/using-workflows/workflow-syntax-for-github-actions#permissions
  contents: write
  discussions: write
  packages: write

jobs:
  version:
    name: version
    uses: ./.github/workflows/version.yml
    secrets: inherit

  docker-buildx-bake-hubdocker-basic-latest:
    name: docker-buildx-bake-hubdocker-basic-latest
    needs:
      - version
    uses: ./.github/workflows/docker-buildx-bake-hubdocker-latest.yml
    if: ${{ github.ref_type != 'tag' }}
    # if: ${{ ( github.event_name == 'push' && github.ref == 'refs/heads/main' ) || github.base_ref == 'main' }}
    with:
      docker-build-timeout-minutes: 60
      # push_remote_flag: ${{ github.ref == 'refs/heads/main' }}
      push_remote_flag: ${{ github.event.pull_request.merged == true }}
      docker_bake_targets: 'image-basic'
      docker-metadata-flavor-suffix: '' # default is '', can add as: -alpine -debian
    secrets:
      DOCKERHUB_TOKEN: "${{ secrets.DOCKERHUB_TOKEN }}"

  docker-buildx-bake-hubdocker-just-latest:
    name: docker-buildx-bake-hubdocker-just-latest
    needs:
      - version
    uses: ./.github/workflows/docker-buildx-bake-hubdocker-latest.yml
    if: ${{ github.ref_type != 'tag' }}
    # if: ${{ ( github.event_name == 'push' && github.ref == 'refs/heads/main' ) || github.base_ref == 'main' }}
    with:
      docker-build-timeout-minutes: 60
      # push_remote_flag: ${{ github.ref == 'refs/heads/main' }}
      push_remote_flag: ${{ github.event.pull_request.merged == true }}
      docker_bake_targets: 'image-just'
      docker-metadata-flavor-suffix: '-just' # default is '', can add as: -alpine -debian
    secrets:
      DOCKERHUB_TOKEN: "${{ secrets.DOCKERHUB_TOKEN }}"

  docker-buildx-bake-hubdocker-basic-tag:
    name: docker-buildx-bake-hubdocker-basic-tag
    needs:
      - version
    uses: ./.github/workflows/docker-buildx-bake-hubdocker-tag.yml
    if: startsWith(github.ref, 'refs/tags/')
    with:
      docker-build-timeout-minutes: 60
      docker_bake_targets: 'image-basic'
      docker-metadata-flavor-suffix: '' # default is '', can add as: -alpine -debian
      # push_remote_flag: true # default is true
    secrets:
      DOCKERHUB_TOKEN: "${{ secrets.DOCKERHUB_TOKEN }}"

  docker-buildx-bake-hubdocker-just-tag:
    name: docker-buildx-bake-hubdocker-just-tag
    needs:
      - version
    uses: ./.github/workflows/docker-buildx-bake-hubdocker-tag.yml
    if: startsWith(github.ref, 'refs/tags/')
    with:
      docker-build-timeout-minutes: 60
      docker_bake_targets: 'image-just'
      docker-metadata-flavor-suffix: '-just' # default is '', can add as: -alpine -debian
      # push_remote_flag: true # default is true
    secrets:
      DOCKERHUB_TOKEN: "${{ secrets.DOCKERHUB_TOKEN }}"

  deploy-tag:
    needs:
      - version
      - docker-buildx-bake-hubdocker-basic-tag
      - docker-buildx-bake-hubdocker-just-tag
    name: deploy-tag
    uses: ./.github/workflows/deploy-tag.yml
    if: startsWith(github.ref, 'refs/tags/')
    secrets: inherit
    with:
      prerelease: true
      tag_name: ${{ needs.version.outputs.tag_name }}
      tag_changes: ${{ needs.version.outputs.cc_changes }}
      # download_artifact_name: foo-release